# Dependencies
node_modules/

# SSL Certificates (generated locally)
backend/data/key.pem
backend/data/cert.pem
# backend/data/generate-certs.js

# Editor
# .vscode/
.idea/

# OS
.DS_Store
Thumbs.db

package-lock.json
yarn.lock

backend/data/passwords.json
backend/data/sessions.json
backend/data/todos_*.json
